**Part A – Variables, Data Types & Strings**

In [ ]:
myName: str = "Hussain durrani"
print(f"My name in Uppercase: {myName.upper()}")
print(f"My name in lowercase: {myName.lower()}")
print(f"My name in Title: {myName.title()}")

My name in Uppercase: HUSSAIN DURRANI
My name in lowercase: hussain durrani
My name in Title: Hussain Durrani

In [ ]:
favNum = int(input("Enter your favourite number: "))
print(f"Your favorite number is {favNum}! That's a great choice!")

Enter your favourite number: 69
Your favorite number is 69! That's a great choice!

In [ ]:
famous_quote: str = "You must be the change you wish to see in the world."
famous_person: str = "Mahatma Gandhi"
print(f"{famous_person} once said, \"{famous_quote}\"")

Mahatma Gandhi once said, "You must be the change you wish to see in the world."

In [ ]:
string:str = input("Enter a string: ")
print(f"String without extra spaces: {string.strip()}")

Enter a string:              hello world
String without extra spaces: hello world

In [ ]:
my_email = "hussaindurrani@gmail.com"
print(f"\n\t{my_email}")

	hussaindurrani@gmail.com

**Part B – Lists (Intro + Working with Lists)**

In [ ]:
friends = ["Ali Hamza", "Salman", "Talha", "Shabeer", "Ahmad"]

for index, friend in enumerate(friends):
    print(f"{index+1}) \"{friend}\" is a good friend of mine.")

1) "Ali Hamza" is a good friend of mine.
2) "Salman" is a good friend of mine.
3) "Talha" is a good friend of mine.
4) "Shabeer" is a good friend of mine.
5) "Ahmad" is a good friend of mine.

In [ ]:
numbers: int =  [12, 18, 19, 34, 36, 39, 92, 91, 99, 96]

print(f"First 3 numbers are: {numbers[:3]}")

n = len(numbers)
if n % 2 == 1:   # odd length
    mid = n // 2
    print(numbers[mid-1], numbers[mid], numbers[mid+1])
else:            # even length
    mid = n // 2 - 1
    print(f"Middle 3 numbers are: {numbers[mid-1:mid+2]}")

print(f"Last 3 numbers are: {numbers[-3:]}")

First 3 numbers are: [12, 18, 19]
Middle 3 numbers are: [34, 36, 39]
Last 3 numbers are: [91, 99, 96]

In [ ]:
countries: str = ["Pakistan", "Turkey", "China", "Germany", "America"]

countries.append(input("Enter a new country to add in the list: "))
countries.append(input("Enter a another country to add in the list: "))

countries.remove(input("Enter a country to remove from the list: "))

print(f"The final list of countries is:\n{countries}")
print(f"Size of the list is {len(countries)}")

Enter a new country to add in the list: Canada
Enter a another country to add in the list: France
Enter a country to remove from the list: Germany
The final list of countries is:
['Pakistan', 'Turkey', 'China', 'America', 'Canada', 'France']
Size of the list is 6

In [ ]:
nums: int = [i for i in range(1, 21)]
print(nums)

total = sum(nums)
minimum = min(nums)
maximum = max(nums)
average = total / len(nums)

print(f"Sum of all numbers in the list: {total}")
print(f"Minimum value: {minimum}")
print(f"Maximum value: {maximum}")
print(f"Average: {average}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Sum of all numbers in the list: 210
Minimum value: 1
Maximum value: 20
Average: 10.5

In [ ]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
colors: str = ("Black", "White", "Brown", "Yellow", "Pink")

for index, color in enumerate(colors):
    print(f"{index+1}) {color}")

1) Black
2) White
3) Brown
4) Yellow
5) Pink

In [ ]:
my_list = [99, "Hussain", 6.9, True]

for index, item in enumerate(my_list):
    print(f"{index+1}) {item} is a  {type(item)}")

1) 99 is a  <class 'int'>
2) Hussain is a  <class 'str'>
3) 6.9 is a  <class 'float'>
4) True is a  <class 'bool'>

**Part C – If Statements & Decisions**

In [ ]:
age = int(input("Enter your age: "))

if age <= 0:
  print("This age is invalid...")
elif age < 13:
  print("You are a Child.")
elif age >= 13 and age <= 19:
  print("You are a Teenager.")
elif age >= 20 and age <= 64:
  print("You are an Adult.")
else:
  print("You are a Senior.")

Enter your age: 18
You are a Teenager.

In [ ]:
usernames = ["ali", "fatima", "admin", "hassan", "zara"]

for user in usernames:
    if user == "admin":
        print(f"Hello {user}, how are you doing today?")
    else:
        print(f"Hi {user}.")

Hi ali.
Hi fatima.
Hello admin, how are you doing today?
Hi hassan.
Hi zara.

In [ ]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(f"{num} is an EVEN number.")
else:
    print(f"{num} is an ODD number.")

Enter a number: 71
71 is an ODD number.

In [ ]:
score = int(input("Enter your score: "))

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"Your grade is: {grade}")

Enter your score: 99
Your grade is: A

In [ ]:
password = input("Enter your password: ")
n = len(password)

while True:
  if n < 8:
    print("Password must be at least 8 characters long.")
  elif '@' not in password and '#' not in password:
    print("Password must contain '@' or '#'.")
  else:
    print("Congrats! You have entered a valid Password.")
    break

  password = input("Enter your password: ")
  n = len(password)

Enter your password: ali
Password must be at least 8 characters long.
Enter your password: aliahmadd
Password must contain '@' or '#'.
Enter your password: ali@ahmad
Congrats! You have entered a valid Password.

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 4
The number is positive.

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2024
2024 is a leap year.

**Part D – User Input & While Loops**

In [ ]:
toppings = []

while True:
    topping = input("Enter a pizza topping (type 'quit' to stop): ")
    if "quit" in topping.lower():
        break
    toppings.append(topping)
    print(f"{topping} has been added to your pizza.")

print("\nYour pizza has the following toppings:")
print(toppings)

Enter a pizza topping (type 'quit' to stop): milai boti
milai boti has been added to your pizza.
Enter a pizza topping (type 'quit' to stop): Tikka
Tikka has been added to your pizza.
Enter a pizza topping (type 'quit' to stop): qqquittt

Your pizza has the following toppings:
['milai boti', 'Tikka']

In [ ]:
numbers = []

while True:
    entry = input("Enter a number (type 'stop' to finish): ")
    if "stop" in entry.lower():
        break
    numbers.append(float(entry))

if numbers:  # make sure the list is not empty
    average = sum(numbers) / len(numbers)
    print(f"The average of the numbers entered is: {average}")
else:
    print("No numbers were entered.")

Enter a number (type 'stop' to finish): 69
Enter a number (type 'stop' to finish): 420
Enter a number (type 'stop' to finish): 18
Enter a number (type 'stop' to finish): ok stoppp
The average of the numbers entered is: 169.0

In [ ]:
group_size = int(input("How many people are in your group? "))

if group_size > 8:
    print("You'll have to wait for a table.")
else:
    print("Your table is ready.")

How many people are in your group? 8
Your table is ready.

In [ ]:
while True:
    num1 = input("Enter the first number (or type 'exit' to quit): ")
    if num1.lower() == "exit":
        break
    num2 = input("Enter the second number: ")
    operator = input("Enter an operator (+, -, *, /): ")

    num1 = float(num1)
    num2 = float(num2)

    if operator == "+":
        result = num1 + num2
    elif operator == "-":
        result = num1 - num2
    elif operator == "*":
        result = num1 * num2
    elif operator == "/":
        if num2 != 0:
            result = num1 / num2
        else:
            print("Cannot divide by zero!")
            continue
    else:
        print("Invalid operator!")
        continue

    print(f"The result is: {result}")

Enter the first number (or type 'exit' to quit): 43
Enter the second number: 51
Enter an operator (+, -, *, /): +
The result is: 94.0
Enter the first number (or type 'exit' to quit): exit

In [ ]:
from os import truncate
import random

num = random.randint(1, 20)
attemps = 0
guessing = True


while guessing:
  guess = int(input("Guess the number: "))

  if guess > num:
    print("Too high")
    attemps = attemps + 1
  elif guess < num:
    print("Too low")
    attemps = attemps + 1
  else:
    print("Correct!")
    print(f"Your total attemps are: {attemps}.")
    guessing = False

Guess the number: 32
Too high
Guess the number: 12
Too high
Guess the number: 9
Too high
Guess the number: 3
Too low
Guess the number: 5
Too low
Guess the number: 7
Too high
Guess the number: 6
Correct!
Your total attemps are: 6.

In [ ]:
while True:
    email = input("Enter your email address: ")
    if "@" in email and "." in email:
        print(f"Thank you! Your email '{email}' is valid.")
        break
    else:
        print("Invalid email. Please try again.")

Enter your email address: hussainraza85#gmail.com
Invalid email. Please try again.
Enter your email address: hussainraza85@gmail.com
Thank you! Your email 'hussainraza85@gmail.com' is valid.

In [ ]:
total = 0

while True:
    num = int(input("Enter a number (0 to stop): "))
    if num == 0:
        break
    total += num

print(f"The sum of all entered numbers is: {total}")

Enter a number (0 to stop): 32
Enter a number (0 to stop): 52
Enter a number (0 to stop): 5
Enter a number (0 to stop): 0
The sum of all entered numbers is: 89

**Part E – Data Types & Memory Management**

In [ ]:
# Mutable example: list
my_list = [1, 2, 3]
print("Original list:", my_list)

# Modifying the list is allowed
my_list[0] = 10
my_list.append(4)
print("Modified list:", my_list)

# Immutable example: tuple
my_tuple = (1, 2, 3)
print("\nOriginal tuple:", my_tuple)

# Trying to modify a tuple will cause an error
# my_tuple[0] = 10    # Uncommenting this line will raise TypeError
# my_tuple.append(4)  # Uncommenting this line will also raise AttributeError

# Explanation:
# - Lists are mutable: you can change, add, or remove elements.
# - Tuples are immutable: once created, they cannot be changed.

Original list: [1, 2, 3]
Modified list: [10, 2, 3, 4]

Original tuple: (1, 2, 3)

In [ ]:
# Example with numbers
a = 100
b = 100

print("Numbers:")
print("a == b:", a == b)  # True, because the values are equal
print("a is b:", a is b)  # True in this case due to Python caching small integers

# Larger numbers may behave differently
x = 1000
y = 1000
print("x == y:", x == y)  # True, values are equal
print("x is y:", x is y)  # Often False, because different objects in memory

print("\nStrings:")
str1 = "hello"
str2 = "hello"
print("str1 == str2:", str1 == str2)  # True, same value
print("str1 is str2:", str1 is str2)  # True, strings are interned in Python

# Creating new string objects
str3 = "".join(["he", "llo"])
print("str1 == str3:", str1 == str3)  # True, values are equal
print("str1 is str3:", str1 is str3)  # False, different objects in memory

# Explanation:
# '==' checks if the values are equal.
# 'is' checks if both variables point to the same object in memory.

Numbers:
a == b: True
a is b: True
x == y: True
x is y: False

Strings:
str1 == str2: True
str1 is str2: True
str1 == str3: True
str1 is str3: False

In [ ]:
# String to integer
str_num = "123"
int_num = int(str_num)
print(int_num, type(int_num))

# Integer to string
num = 456
str_num2 = str(num)
print(str_num2, type(str_num2))

# String to float
str_float = "3.14"
float_num = float(str_float)
print(float_num, type(float_num))

123 <class 'int'>
456 <class 'str'>
3.14 <class 'float'>

In [ ]:
# Original string
text = "Python is fun and powerful"

print("Original string:", text)

# 1. split() - splits the string into a list of words based on a separator (default is space)
words = text.split()
print("\nUsing split():", words)  # ['Python', 'is', 'fun', 'and', 'powerful']

# 2. join() - joins elements of a list into a string with a specified separator
joined_text = "-".join(words)
print("\nUsing join():", joined_text)  # Python-is-fun-and-powerful

# 3. replace() - replaces a substring with another substring
replaced_text = text.replace("fun", "awesome")
print("\nUsing replace():", replaced_text)  # Python is awesome and powerful

# 4. find() - returns the index of the first occurrence of a substring, -1 if not found
index_is = text.find("is")
print("\nUsing find(\"is\")", index_is)  # 7

index_java = text.find("AI")
print("Finding 'AI':", index_java)  # -1 (not found)

Original string: Python is fun and powerful

Using split(): ['Python', 'is', 'fun', 'and', 'powerful']

Using join(): Python-is-fun-and-powerful

Using replace(): Python is awesome and powerful

Using find("is") 7
Finding 'AI': -1

**🌟 Bonus Challenge Section (Optional)**

In [ ]:
language = input("Enter your favorite programming language: ")

print("Lowercase:", language.lower())
print("Uppercase:", language.upper())
print("Title case:", language.title())

Enter your favorite programming language: python & C++
Lowercase: python & c++
Uppercase: PYTHON & C++
Title case: Python & C++

In [ ]:
full_name = input("Enter your full name: ")

names = full_name.split()  # split into words
first_name = names[0]
last_name = names[-1]
initials = ".".join([name[0].upper() for name in names]) + "."

print("First name:", first_name.title())
print("Last name:", last_name.title())
print("Initials:", initials.title())

Enter your full name: Hussain Raza durrani
First name: Hussain
Last name: Durrani
Initials: H.R.D.

In [ ]:
sentence = "   Python   is   awesome!   "
cleaned = " ".join(sentence.split())
print(cleaned)

Python is awesome!

In [ ]:
email = input("Enter your email: ")
username, domain = email.split("@")
hidden_email = username[:2] + "***@" + domain
print(hidden_email)

Enter your email: hussaindurrani85@gmail.com
hu***@gmail.com

In [ ]:
text = input("Enter a string: ")
length = len(text) + 2
print("*" * length)
print(f"*{text}*")
print("*" * length)

Enter a string: hello boy
***********
*hello boy*
***********

In [ ]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

Enter a number: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
numbers = input("Enter numbers separated by spaces: ").split()
numbers = [float(n) for n in numbers]

print("Largest number:", max(numbers))
print("Smallest number:", min(numbers))

Enter numbers separated by spaces: 8 9 5 7 3 1 2 6 11
Largest number: 11.0
Smallest number: 1.0

In [ ]:
shopping_list = []

while True:
    print("\nMenu:")
    print("1. Add item")
    print("2. Remove item")
    print("3. View list")
    print("4. Exit")

    choice = input("Choose an option: ")

    if choice == "1":
        item = input("Enter item to add: ")
        shopping_list.append(item)
        print(f"{item} added.")
    elif choice == "2":
        item = input("Enter item to remove: ")
        if item in shopping_list:
            shopping_list.remove(item)
            print(f"{item} removed.")
        else:
            print(f"{item} not in list.")
    elif choice == "3":
        print("Shopping list:", shopping_list)
    elif choice == "4":
        print("Exiting program.")
        break
    else:
        print("Invalid option.")

Menu:
1. Add item
2. Remove item
3. View list
4. Exit
Choose an option: 3
Shopping list: []

Menu:
1. Add item
2. Remove item
3. View list
4. Exit
Choose an option: 1
Enter item to add: Laptop
Laptop added.

Menu:
1. Add item
2. Remove item
3. View list
4. Exit
Choose an option: 1
Enter item to add: Mobile
Mobile added.

Menu:
1. Add item
2. Remove item
3. View list
4. Exit
Choose an option: 1
Enter item to add: Air Pods
Air Pods added.

Menu:
1. Add item
2. Remove item
3. View list
4. Exit
Choose an option: 3
Shopping list: ['Laptop', 'Mobile', 'Air Pods']

Menu:
1. Add item
2. Remove item
3. View list
4. Exit
Choose an option: 2
Enter item to remove: Mobile
Mobile removed.

Menu:
1. Add item
2. Remove item
3. View list
4. Exit
Choose an option: 3
Shopping list: ['Laptop', 'Air Pods']

Menu:
1. Add item
2. Remove item
3. View list
4. Exit
Choose an option: 4
Exiting program.

In [ ]:
pin = "1234"
balance = 1000

while True:
    entered_pin = input("Enter your PIN: ")
    if entered_pin == pin:
        print("PIN accepted.\n")
        break
    else:
        print("Incorrect PIN. Try again.")

while True:
    print("\nATM Menu:")
    print("1. Check balance")
    print("2. Withdraw")
    print("3. Deposit")
    print("4. Exit")

    choice = input("Choose an option: ")

    if choice == "1":
        print(f"Your balance is: ${balance}")
    elif choice == "2":
        amount = float(input("Enter amount to withdraw: "))
        if amount <= balance:
            balance -= amount
            print(f"Withdrawn ${amount}. New balance: ${balance}")
        else:
            print("Insufficient balance!")
    elif choice == "3":
        amount = float(input("Enter amount to deposit: "))
        balance += amount
        print(f"Deposited ${amount}. New balance: ${balance}")
    elif choice == "4":
        print("Exiting ATM.")
        break
    else:
        print("Invalid option.")

Enter your PIN: 5646
Incorrect PIN. Try again.
Enter your PIN: 1234
PIN accepted.


ATM Menu:
1. Check balance
2. Withdraw
3. Deposit
4. Exit
Choose an option: 1
Your balance is: $1000

ATM Menu:
1. Check balance
2. Withdraw
3. Deposit
4. Exit
Choose an option: 2
Enter amount to withdraw: 200
Withdrawn $200.0. New balance: $800.0

ATM Menu:
1. Check balance
2. Withdraw
3. Deposit
4. Exit
Choose an option: 1
Your balance is: $800.0

ATM Menu:
1. Check balance
2. Withdraw
3. Deposit
4. Exit
Choose an option: 3
Enter amount to deposit: 10000009
Deposited $10000009.0. New balance: $10000809.0

ATM Menu:
1. Check balance
2. Withdraw
3. Deposit
4. Exit
Choose an option: 4
Exiting ATM.

In [ ]:
import random
import string

length = int(input("Enter desired password length (at least 8): "))

if length < 8:
    length = 8

characters = string.ascii_letters + string.digits
password = "".join(random.choice(characters) for _ in range(length))
print("Generated password:", password)

Enter desired password length (at least 8): 9
Generated password: AVtdivA2M